<nav class="navbar">
  <div class="title">
    <p>Application</p>
  </div>
  <div class="menu">
    <ul class="navbar-links">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Rechercher</a></li>
      <li><a href="#">À propos</a></li>
    </ul>
  </div>

  <div class="navbar-profile">
    <i class="fa-solid fa-circle-user fa-2x" style="color: #FFD43B;"></i>
  </div>
</nav>
<div class="title-custom">
  <div class="min-bar"></div>
  <h3 class="h3">Liste des employés</h3>
  <div class="long-bar"></div>
</div>

