.custum-table {
  min-width: 80%;
  display: grid;
  font-family: 'Roboto', sans-serif;
}

.custum-table div {
  padding: 0.7rem;
}

.table-header {
  background-color: #1e3d59;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Add an extra column for the icons */
  color: #f9f9f9;
  border-radius: 1rem;
}

.custum-body {
  display: grid;
  grid-auto-rows: auto;
}

.custum-body .line-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr) auto auto; /* Add two extra columns for the icons */
  border: 0.2rem solid lightgray;
  border-radius: 1rem;
  margin: 0.15rem 0;
  align-items: center; /* Ensure vertical alignment */
}

.line-grid div {
  padding: 0.3rem;
  font-family: 'Roboto', sans-serif;
}

.line-grid .button-end {
  display: flex;
  margin-left: 200px;
  justify-content: center; /* Centers the icon horizontally */
}

.line-grid .fa-trash-can {
  color: #d2601a; /* Set the color of the delete icon */
  display: flex;
  justify-content: center; /* Centers the icon horizontally */
}
